<ion-header>
    <ion-row align-items-start>
        <ion-col>
            <ion-title left class="title">Alert System</ion-title>
        </ion-col>
        <ion-col align-self-end>
            <ion-toggle color="primary" right (ionChange)="listenEvent()" [checked]="toggle" class="toggleBtn">
            </ion-toggle>
        </ion-col>
    </ion-row>
</ion-header>
<ion-content>
    <ion-list>
        <ion-list-header>Wallets</ion-list-header>
        <div *ngFor="let wallet of matchData">
            <ion-item *ngIf="wallet.type=='wallet'">
                <ion-checkbox color="primary" slot="start" [(ngModel)]="wallet.checked" (ionChange)="selectChange()">
                </ion-checkbox>
                <ion-label>
                    <h2>{{wallet.name}}</h2>
                </ion-label>
            </ion-item>
        </div>
    </ion-list>

    <ion-list>
        <ion-list-header>Banks</ion-list-header>
        <div *ngFor="let bank of matchData">
            <ion-item *ngIf="bank.type=='bank'">
                <ion-checkbox color="primary" slot="start" [(ngModel)]="bank.checked" (ionChange)="selectChange()">
                </ion-checkbox>
                <ion-label>
                    <h2>{{bank.name}}</h2>
                </ion-label>
            </ion-item>
        </div>
    </ion-list>
    <ion-item>
        <ion-label position="stacked">Test Number
        </ion-label>
        <ion-input required type="text" [(ngModel)]="testData"></ion-input>
    </ion-item>
    <ion-button color="primary" (click)="addToList()">Add</ion-button>
</ion-content>